/* web safe fonts: https://www.w3schools.com/cssref/css_websafe_fonts.php */
* {
  font-family: Courier New;
  font-kerning: none;
}

#anim-box {
  position: absolute;
  top: 0;
  left: 0;

}

#caret {
  stroke: black;
  stroke-width: 1;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#target {
  margin-right: auto;
  margin-left: auto;
  margin-top: 6.2%;
  width: 62%;
}

#v-caret {
  width: .5em;
  height: 1em;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background: linear-gradient(to right, transparent .23em, currentColor .25em, transparent .27em);
  display: inline-block;
  vertical-align: middle;
  margin: 0 -.2em;
  display: none;
}

#p-char {
  color: white;
}

.quote {
  background: lightgrey;
  border-left: 3px solid grey;
  padding: 0px;
  margin: 0px;
}